[Unit]
Description=batwatch - Blink the screen when battery level is too low or too high
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/batwatch
Restart=on-failure

[Install]
WantedBy=default.target
